<!doctype html>
<html>
  <head>
    <title>Rest Client</title>
    <link href="popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="lib/materialize.min.css">
    <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-route.js"></script>
    <script type="text/javascript" src="lib/materialize.min.js"></script>
    <script src="js/popup.js"></script>
  </head>
  <body ng-app="myApp">
 <nav>
    <div class="nav-wrapper grey lighten-1">
      <a href="#" class="brand-logo center ">Rest Client</a>
    </div>
  </nav>
   <div class="card-panel">
  	<div ng-controller="mainController">
  		<div class="row">
	      <div class="input-field col s2 ">
	        <select ng-model="selectedMethod" ng-change="onMethodChange(selectedMethod)">
		      <option value="" disabled selected>Method</option>
		      <option value="1">GET</option>
		      <option value="2">POST</option>
		      <option value="3">PUT</option>
		      <option value="4">DELETE</option>
		    </select>
	      </div>
	      <div class="col s8 input-field">
	       <input id="url" type="text" placeholder="URL">
	      </div>
	      <div class="col s2 input-field"> 
	      	<button class="waves-effect waves-teal btn-flat  grey lighten-3" style="width: 104px" ng-click="submit()">
	      		Submit
	  		</button>
	      </div>
  	</div>
  </div>
  <!-- <div class="progress">
      <div class="indeterminate"></div>
  </div>
   --><div class="divider"></div>
 	<div class="section">
  		<div ng-view></div>
 	</div>
 	</div>
  </body>
</html>
