<div class="collection" ng-show="showMovies">
    <div ng-repeat="movie in movies | orderBy : '-_id' | limitTo : 50" class="collection-item row valign-wrapper">
    <a ui-sref="viewMovie({id:movie._id})" class="col m10 valign truncate" style="display: inline-block">
        <h5>{{movie.title}}</h5>
</a>
        <a class="btn btn-
			flat col m2 valign" ng-click="deleteMovie(movie)">
				<i class="material-icons">delete</i>
			</a>
	</div>
	<a class="btn-floating btn-large waves-effect waves-light teal
		accent-4" ui-sref="newMovie">
		    <i class="material-icons">add</i>
		</a>
</div>

 <div class="progress" ng-show="!showMovies">
      <div class="indeterminate"></div>
  </div>