<table class="table movietable">
  <tr>
    <td><h5>Details for {{movie.title}}</h5><div class="divider"></div></td>
    <td></td>
  </tr>
  <tr>
    <td><h6>Movie Title</h6></td>
    <td><h6>{{movie.title}}</h6></td>
  </tr>
  <tr>
    <td><h6>Director</h6></td>
    <td><h6>{{movie.director}}</h6></td>
  </tr>
  <tr>
    <td><h6>Release Year</td>
    <td><h6>{{movie.releaseYear}}</h6></td>
  </tr>
  <tr>
    <td><h6>Movie Genre</h6></td>
    <td><h6>{{movie.genre}}</h6></td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" ui-sref="editMovie({id:movie._id})">Edit</a>
</div>